#work-detail
	if(nextData)
		section.next-project
			a(href="/work/" + data.next)
				h2=nextData.title
				h3
					span.clientName Next
					span.next=nextData.client


	section.work-detail
		article.headline
			h2=data.title
			h3=data.client
		
		article.hero
			img(src="../images/projects/" + slug + "/" + data.heroImage)
			

		.project-details
			article.description
					p=data.description

			article.credits
				ul 
					if(data.credits.agency)
						li
							h4 Agency
							each agency in data.credits.agency
								if agency.url
									p
										a(href= agency.url, target="_blank", class="link")= agency.text
								else
									p= agency.text
						li
							h4 Role
							p=data.credits.role
						li
							h4 Date
							p=data.credits.date
			if data.links
				article.links
					ul
						if(data.links.site)
							li
								a(class="button", href= data.links.site, target="_blank") Launch Site
						if(data.links.caseStudy)
							li
								a(class="button", href= data.links.caseStudy, target="_blank") Case Study
						
			if data.press
				article.press
					h4 Press
					ul
						each article in data.press
							li 
								if article.url
									p
										a(href= article.url, target="_blank", class="link")= article.title
								else 
									p= article.title

			if data.awards
				article.awards
					h4 Recognition
					ul
						each article in data.awards
							li 
								if article.url
									p
										a(href= article.url, target="_blank", class="link")= article.title
								else 
									p= article.title
			
		
		.project-images
			//-video
			each content in data.mainContent
				if(content.type == "video")
					article.video
						.video-player(style="background-color:" + data.backgroundColor)
							img(class="preview-image", src="../images/projects/" + slug + "/" +content.previewImage.src)
							video
								each src in content.videoSrc
									source(src=src.src, type="../images/projects/" + slug + "/" + src.type)
						if(content.description)
							.description
								p= content.description
				else
					//-2 column
					if(content.type == "col-2")
						article.col-2
							.image-container
								each image in content.images
									.image-wrapper(style="background-color:" + data.backgroundColor)
										img(class="preview-image", data-src="../images/projects/" + slug + "/" +image.src, data-width=image.width, data-height=image.height)
							if(content.description)
								.description
									p= content.description
					//-1 column
					else
						article
							each image in content.images
								.image-wrapper(style="background-color:" + data.backgroundColor)
									img(class="preview-image", data-src="../images/projects/" + slug + "/" +image.src, data-width=image.width, data-height=image.height)
							if(content.description)
								.description
									p= content.description


