#work-detail
	include partials/_grid

	include partials/_main_nav

	section.next-project
		ul
			
			li
				a(href="/work/year-in-music")
					h2 Year in Music
					h3 spotify


	section.work-detail
		article.headline
			h2=data.title
			h3=data.client
		
		article.hero
			img(src="../images/projects/" + slug + "/" + data.heroImage)
			

		.project-details
			article.description
					p=data.description

			article.credits
				ul 
					each credit in data.credits
						li
							h4= credit.type
							if credit.url
								p
									a(href= credit.url)= credit.text
							else
								p= credit.text
			if data.press
				article.press
					h4 Press
					ul
						each article in data.press
							li 
								p
									a(href= article.url, target="_blank")= article.title

			if data.links
				article.links
					ul
						each link in data.links
							li
								a(class="button", href= link.url, target="_blank")= link.title
		
		.project-images
			//- One column
			article
				.image-wrapper
					img(src="../images/fpo-yim.jpg")

			//- One column with description
			article.has-description
				.image-wrapper
					img(src="../images/fpo-yim.jpg")

				.description
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium nunc velit, id cursus libero porta quis. Interdum et malesuada fames ac ante ipsum primis in faucibus.

			//- Two column
			article.col-2
				.image-wrapper
					img(src="../images/fpo-yim.jpg")
				.image-wrapper
					img(src="../images/fpo-yim.jpg")
				.description
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium nunc velit, id cursus libero porta quis. Interdum et malesuada fames ac ante ipsum primis in faucibus.

			//- content types
			article.video
				//- html5 video
				.video-player
					img(class="preview-image", src="../images/fpo-yim.jpg")
					video
						<source src="http://new.lucidworks.com/wp-content/themes/lucidworks/dist/media/quickstart.webm" type="video/webm">
				.description
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium nunc velit, id cursus libero porta quis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
				
			